body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.8rem;
  color: #4d4d4d;
  font-weight: bold;
  line-height: 1.4;
}

h3 {
  font-size: 1.1rem;
  color: #4d4d4d;
  font-weight: bold;
  line-height: 1.4;
}

h6 {
  font-size: 0.7rem;
  color: #333333;
  line-height: 1.4;
}

p {
  font-size: 0.85rem;
  color: dimgray;
  line-height: 1.4;
}

a {
  color: #3399ff;
  text-decoration: none;
}

a:hover {
  background-color: #3399ff;
  border-radius: 20px;
  padding: 4px 8px;
  color: white;
  transition: all 300ms linear;
}



.nav_bar {
  position:fixed;
  background-color: white;
  width: 100%;
  heigth: 64px;
  padding-top: 16px;
  display: inline-flex;
}

.nav_bar .logo {
  height: 40px;
  display: inline-flex;
  margin-bottom: 12px;
}

.nav_bar .logo #colmarlogo {
  margin-left: 24px;
}

.nav_bar .logo #title {
  display: inline-flex;
  font-size: 1.2rem;
}

.nav_bar .logo #title #colmar {
  font-weight: bold;
  color: black;

}

.nav_bar .logo #title #academy {
  color: silver;

}

.navigation {
  width: 100%;
  margin-top: 8px;
}

.navigation ul {
  text-align: right;
  margin-right: 8px;
}

.navigation ul li {
  font-size: 0.9rem;
  color: dimgray;
  display: inline-flex;
  margin-right: 16px;
}

.navigation ul li a {
  color: dimgray;
}

.navigation ul li:hover {
  background-color: #3399ff;
  border-radius: 20px;
  padding: 4px 8px;
}

.navigation ul li a:hover {
  color: white;
}

.navmobile {
  display: none;
}

.navmobile ul {
  text-align: center;
}

.navmobile ul li {
  display: inline-flex;
  margin-left: 60px;
}



.bannerfull {
  background-color: silver;
  width: 100%;
  display: flex;
}

.bannerfull img {
  width: 54%;
  height: 54%;
  padding-top: 32px;
  margin-top: 32px;
  border-top: 32px solid silver;
  border-bottom: 32px solid silver;
  border-left: 24px solid silver;
  border-right: 24px solid silver;
}

.bannerfull .bannertxt {
  display: inline-block;
  margin: auto;
  width: 25%;
}

.bannerfull .bannertxt h1 {
  display: inline-block;
  margin: 16px 0px;
}

.bannerfull .bannertxt h3 {
  margin: 16px 0px;
}

.bannerfull .bannertxt .bannerbutton {
  background-color: #333333;
  border-radius: 20px;
  width: 80%;
  padding: 8px 0px;
  text-align: center;
}

.bannerfull .bannertxt .bannerbutton a {
  font-size: 0.85rem;
  color: white;
  text-align: center;
}

.bannerfull .bannertxt .bannerbutton:hover {
  background-color: #3399ff;
  border-radius: 20px;
}


.information {
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.information .leftinfo {
  width: 60%;
  border-right: 1px solid silver;
}

.information .leftinfo img {
  width: 90%;
  height: auto;
  margin: 32px 24px;
}

.information .leftinfo .leftinfotxt {
  width: 90%;
}

.information h1 {
  margin-left: 24px;
  margin-bottom: 24px;
}

 .information .leftinfo p {
   margin-left: 24px;
 }

 .information .leftinfo h6 {
   margin-left: 24px;
   margin-top: 24px;
   margin-bottom: 32px;
 }

 .information .rightinfo {
   width: 40%;
   margin: auto;
}

 .information .rightinfo .info {
   display: inline-flex;
   margin: auto;
   padding: 16px;
   border-bottom: 3px solid silver;
}

 .information .rightinfo .info img {
   width: 35%;
   height: 35%;
   margin-right: 16px;
}

 .information .rightinfo .info .rightinfotxt {
   width: 65%;
   margin: auto;
}

 .information .rightinfo .info h3 {
   margin-bottom: 8px;
 }

 .information .rightinfo .info p {
   margin-bottom: 8px;
}

#lecture {
   background-color: silver;
 }

 .information .rightinfomobile {
   display: none;
 }



.courses {
  background-color: silver;
  width: 100%;
  padding-bottom: 32px;

}

.courses h1 {
  padding: 32px 0px;
  text-align: center;
}

.courses .coursestop {
  margin: 0px 72px 32px 72px;
  display: flex;
}

 .courses .coursestop .courseinfo {
   background-color: white;
   display: inline-block;
   margin-right: 32px;
   width: 100%;
   overflow: hidden;
 }

.courseinfo img {
  display: inline-block;
  width: 100%;
  height: 60%;
 }

.courses .coursestop .courseinfo .coursestxt {
  margin: 16px 0px 24px 16px;
  padding-bottom: 24px;
}

 .courses .coursesbottom {
   margin: 0px 72px 32px 72px;
   display: flex;
 }

  .courses .coursesbottom .courseinfo {
    background-color: white;
    display: inline-block;
    margin-right: 32px;
    width: 100%;
    overflow: hidden;
  }

 .courses .coursesbottom .courseinfo .coursestxt {
   margin: 16px 0px 24px 16px;
   padding-bottom: 24px;
 }



 .thesis {
   width: 100%;
   padding-bottom: 32px;
   display: flex;
   border-bottom: 1px solid silver;
 }

 .thesis h1 {
   margin: 32px 0px;
   text-align: center;
 }

 .thesis .container {
   width: 90%;
   display: inline-block;
 }

.thesis .video {
  width: 60%;
  display: inline-block;
  margin-right: 48px;
}

 .thesis .video video {
   width: 100%;
   margin: 0px 24px 24px 24px;
 }

 .thesis .video h3 {
   margin-bottom: 8px;
   margin-left: 24px;
 }

 .thesis .video p {
   margin-left: 24px;
 }

 .thesis .thesisright {
   width: 30%;
   display: inline-block;
   margin: auto;
   vertical-align: top;
 }

 .thesis .thesisright .thesisinfo {
   display: flex;
   overflow: hidden;
 }

 #prototype {
   background-color: silver;
 }

.thesis .thesisright .thesisinfo img {
  width: 35%;
  height: 35%;
  margin: 16px 16px 16px 16px;
  display: inline-block;
}

.thesis .thesisright .thesisinfo .thesisinfotxt {
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}

.thesis .thesisright .thesisinfo h3 {
  display: inline-block;
}

.thesis .thesisright .thesisinfo p {
  margin-top: 8px;
}



.rrss {
  display: inline-flex;
  width: 100%;
  padding: 24px;
  background-color: silver;

}

.rrss h3 {
  color: #3399ff;
  font-size: 1.4rem;
  text-align: right;
  width: 40%;
}

.rrss ul {
  width: 50%;
  text-align: left;
}

.rrss ul li {
  display: inline;
}

.rrss a {
  margin-left: 20px;
}



.footer {
  margin: 16px 24px;
  display: inline-flex;
  width: 100%;
}

.footer h6 {
  width: 100%;
}

.footer .footernav {
  width: 100%;
  display: inline-block;
  margin: auto;
  text-align: right;
}

.footer .footernav ul {
  text-align: right;
  margin-right: 24px;
}

.footer .footernav ul li {
  font-size: 0.7rem;
  color: #333333;
  display: inline-block;
  margin-left: 16px;
}

.footer .footernav ul li a {
  color: dimgray;
}

.footer .footernav ul li a:hover {
  color: white;
}





@media only screen and (max-width: 480px) {
  .nav_bar .logo #title {
    display: none;
  }

  .navigation {
    display: none;
  }

  .navmobile {
    width: 100%;
    display: inline-block;
    margin-left: 32px;
  }


  .bannerfull {
    display: block;
    width: 100%;
  }

  .bannerfull img {
    width: 100%;
    background-color: silver;
    border: none;
  }

  .bannerfull .bannertxt {
    width: 80%;
    background-color: silver;
    margin: 32px 16px;
  }

  .bannerfull .bannertxt .bannerbutton {
    margin-top: 24px;
    margin-bottom: 32px;
    width: 100%;
  }


  .information .leftinfo {
    display: none;
  }



  .information .rightinfo {
    display: none;
  }

 .information .rightinfomobile {
   display: block;
   width: 100%;
   margin: 16px 16px 32px 16px;
}

 .information .rightinfomobile .infomobile {
   margin-bottom: 32px;
   display: block;
   border-bottom: none;
}

 .information .rightinfomobile .infomobile img {
   width: 100%;
}

 .information .rightinfomobile .infomobile .rightinfotxtmobile {
    margin: 16px 16px 0px 16px;
}

.information .rightinfomobile .infomobile .rightinfotxtmobile h3, p {
  margin-bottom: 8px;
}

#lecture {
 background-color: white;
}



   .courses {
    border-top: 1px solid silver;
    padding-bottom: 32px;
    background-color: white;

  }

  .courses h1 {
    background-color: white;
  }

  .courses .coursestop {
    display: block;
    margin: 0px;
  }

  .courses .coursesbottom {
    display: block;
    margin: 0px;
  }

  .courseinfo img {
    display: none;
  }

  .courses .coursestop .courseinfo .coursestxt {
    background-color: silver;
    padding: 16px 16px 24px 16px;
    margin: 8px 16px;
  }

  .courses .coursesbottom .courseinfo .coursestxt {
    background-color: silver;
    padding: 16px 16px 24px 16px;
    margin: 8px 16px;
  }

  .courseinfo h3 {
    width: 100%;
  }

  .courseinfo p {
    display: none;
  }


  .thesis {
    padding-bottom: 24px;
  }

  .thesis h1 {
    width: 100%;
    text-align: center;
    margin: 32px 32px;
  }

  .thesis .video {
    width: 100%;
    text-align: center;
  }

  .thesis .video h3 {
    display: none;
  }

  .thesis .video p {
    display: none;
  }

  .thesis .thesisright {
    display: none;
  }



  .rrss h3 {
    display: none;
  }

  .rrss ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  .rrss a {
    margin: 0px;
  }


  .footer .footernav {
    display: none;
  }

}
